<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
  <a class="navbar-brand" href="#">RateMe</a>
  <ul class="d-flex">
    <li><a class="nav-link" href="/login">Login</a></li>
    <li><a class="nav-link" href="/signup">Sign Up</a></li>
  </ul>
</nav>