<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
  
  <ul class="d-flex">
    <a class="navbar-brand" href="/home">RateMe</a>
    <li><a class="nav-link" href="/companies">Companies</a></li>
    <li><a class="nav-link" href="/company/search">Company Search</a></li>
    <li><a class="nav-link" href="/companies/leaderboard">Leaderboard</a></li>
  </ul>
  <ul class="d-flex">
    <li><a class="nav-link text-capitalize" href="/home"><%= user.fullname %></a></li>
    <li><a class="nav-link" href="/logout">Logout</a></li>
  </ul>
</nav>
