<!DOCTYPE html>
<html lang="en">
<% include partials/header %>
<body>
	<%- body -%>
	<% include partials/footer %>
	<script src="/js/rating.js"></script>
	<script src="/js/jquery.raty.js"></script>
	<script>
		$(document).ready(function () {
			$.fn.raty.defaults.path = '/images/';
			const $star = $('.star');
			$star.raty({
				readOnly: true,
				score: function(){ return $(this).attr('data-score'); },
			});
		});    
	</script>
</body>
</html>