/* begin common */
  body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #eee;
    min-width: 850px;
    overscroll-behavior-y: none;
    min-height: calc(100% + 1px);
    color: #4a4a4a;
    letter-spacing: 0.1px;
  }

  #wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
  }

  #page-content-wrapper {
    position: relative;
    overflow: hidden;
    color: #4a4a4a;
    padding-bottom: 50%;
    min-height: 100%;
    background-color: #fff;
    max-width: 1440px;
  }

  .height-100vh {
    height: 100vh;
  }

  .height-content-100vh {
    height: calc(100vh - 60px);
  }

  .my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .container {
    max-width: 1230px;
  }

  .navbar-inner {
    margin: 0 auto;
    width: 100%;
  }

  .borderGray {
    border: 1px solid #e6e2db;
    border-radius: 9px;
  }

  .borderGrayRight {
    border-right: 1px solid #e6e2db;
  }

  .borderGrayBottom {
    border-bottom: 1px solid #e6e2db;
  }

  .radius-5 {
    border-radius: 5px;
  }

  .bgWhite {
    background-color: #fff;
    padding: 15px;
  }

  .image {
    display: block;
    margin: 0 auto;
  }

  .imgCircle {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5, p, span, a, button {
    font-family: 'Roboto', sans-serif;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    transition: all 0.3s ease-out;
    color: #ff410f;
  }

  .orange-color {
    color: #ff410f !important;
  }

  .gray-color {
    color: #73879C;
  }

  .bgGray {
    background-color: #73879C;
  }

  .green-color {
    color: #155724;
  }

  .bgGreen {
    background-color: #d4edda;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: #ff410f;
  }

  .mainTitle {
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .title {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .subTitle {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  .text {
    font-size: 14px;
    letter-spacing: 0.3px;
  }

  .subText {
    font-size: 12px;
    color: #73879C;
    letter-spacing: 0.3px;
  }
  
  .square {
    width: 15px;
    font-size: 14px;
  }

  .size-14 {
    font-size: 14px;
  }

  .font-bold {
    font-weight: 700;
  }

  .navbar {
    box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.2);
  }

  .navbar li a {
    color: #73879C;
  }

  .navbar li .nav-link {
    padding: 10px 1rem;
  }

  .navbar li a.logout-link {
    font-size: 24px;
    padding: 0 10px;
  }

  .navbar li a:hover {
    color: #ff410f;
  }

/* end common */

/* begin form */
  .form-group input {
    height: 40px;
    font-size: 14px;
  }

  .form-group a[type="button"] {
    height: 40px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-facebook {
    background: #3B5998;
    color: #fff;
    border: 1px solid #263961;
  }

  .form-group a[type="button"] i {
    margin-right: 10px;
  }

  .btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
  }

  .form-group-checkbox {
    margin-bottom: 5px;
  }

  .logo-company {
    width: 200px;
    height: 200px;
  }

  .radius-50 {
    border-radius: 50%;
  }

  .modalUpload {
    width: 100%;
    height: 50%;
  }

  .modalUpload.show {
    display: flex !important;
  }

  .modalUpload .progress {
    width: 100%;
  }

  .width-100 {
    width: 100% !important;
  }

  .height-100 {
    height: 100% !important;
  }

  .modalUpload  button {
    font-size: 14px;
  }

  .modalUpload .modal-title {
    color: #73879C;
    font-size: 14px;
  }

  .modalUpload .modal {
    top: 50%;
    transform: translate(0, -50%);
  }

  .progress-bar {
    background-color: #ff410f;
  }
/* end form */

/* begin errors */
  .errors .alert-danger {
    padding: 5px 10px;
    font-size: 13px;
  }
  .errors .close {
    font-size: 18px;
  }
/* end errors */

/* begin company */
  .companyItem {
    display: flex;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .companyImage {
    border-radius: 5px 0 0 5px;
    width: 110px;
    height: 110px;
  }

  .companyInfo {
    padding: 5px 15px;
    color: #73879C;
  }
/* end company */

/* begin company profile */
  .groupBtn a {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .companyProfile i > * {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
/* end company profile */

/* begin homepage */

  .homepage {
    padding-top: 50px;
  }
  .homepage .iconItem {
    font-size: 40px;
    color: #73879C;
  }

  .groups .subText {
    color: #73879C;
    height: 40px;
  }

  .groups a {
    width: 50%;
  }

  .homepage .groups {
    margin-top: 50px;
  }
/* end homepage */

/* Review */
  .btn-review.btn,
  .btn-custom.btn {
    min-width: 200px;
    font-size: 14px;
  }

  .min-150 {
    min-width: 150px;
  }

  .min-100 {
    min-width: 100px;
  }

  .reviewList {
    margin-top: 50px;
  }

  .reviewItem {
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
  }

  .reviewItem:last-child {
    box-shadow: none;
  }

  .reviewImage {
    width: 50px;
  }

  .reviewInfo {
    width: calc(100% - 50px);
    padding: 0 10px;
  }

/* end Review */

/* begin chat */

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #73879C;
  float: left;
}

.panel-body {
  overflow-y: scroll;
  overflow-x:auto;
  height: 250px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

/* end chat */

#star_rating img{
  width: 30px;
  height: 30px;
}

/* override button */
.btn-orange:hover,
.btn-secondary:hover,
.btn-orange:focus,
.btn-secondary:focus {
  background-color: #ff410f !important;
  border-color: #ff410f !important;
  color: #fff !important;
}
.btn-orange {
  background-color: #ff410f !important;
  border-color: #ff410f !important;
  color: #fff !important;
}

.shadow-medium {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.shadow-light {
  /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); */
}

.shadow-light {
  box-shadow: 0.5px 0.5px 2.5px 0.5px rgba(0, 0, 0, 0.2);
}

.logo {
  letter-spacing: 2.5px;
  font-weight: 600;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full {
  width: 100%;
  height: 100%;
}

.half {
  width: 50%;
  height: 50%;
}

.centered {
  margin: 0 auto;
}






















































































