<% layout('layout') %>

<div class="container">
  <div class="text-center">
    <h1 class="mainTitle">
      <a href="/">RateMe</a>
    </h1>
    <h2 class="title">Enter your email</h2>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <p class="subText">
        Please enter your email and a password reset link will be sent.
      </p>
      <form method="POST" action="/forgot">
        <div class="form-group input_group">
          <input
            id="email"
            class="form-control"
            name="email"
            type="text"
            autocomplete="on"
            placeholder="EMAIL"
            style="margin-bottom: 20px"
          />
        </div>
  
        <div class="form-group" id="submit">
          <input
            type="submit"
            value="Send"
            class="form-control btn btn-secondary"
            name="submit"
          />
        </div>
      </form>
  
      <div>
        <h4 class="subText">Already reset your password? <a href="/login">Login</a></h4>
      </div>
    </div>

    <div class="col-md-4 errors">
      <% if(hasErrors) {%> <% for(var i = 0; i < messages.length; i++) {%>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            &times;
          </a>
          <%= messages[i] %>
        </div>
        <% } %> <% } %> <% if(noErrors) {%>
        <div class="alert alert-info">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            &times;
          </a>
          <%= info %>
        </div>
        <% } %>
    </div>
  </div>
</div>
