<% layout('layout') %>

<div class="container">
  <div class="text-center">
    <h1 class="mainTitle orange-color mb-3 logo">RateMe</h1>
    <h2 class="title mb-3">Login</h2>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form method="POST" action="/login">
        <div class="form-group">
          <input
            id="email"
            class="form-control"
            name="email"
            type="text"
            autocomplete="on"
            placeholder="Email"
          />
        </div>
  
        <div class="form-group">
          <input
            id="password"
            class="form-control"
            name="password"
            type="password"
            placeholder="Password"
          />
        </div>
  
        <div class="form-group">
          <input
            type="submit"
            id="login"
            value="Login"
            class="form-control btn btn-secondary"
            name="login"
          />
        </div>
  
        <div class="form-group-checkbox">
          <label for="">
            <input
              type="checkbox"
              name="rememberme"
              class=""
              value="yes"
            />
          </label>
          <span>&nbsp;&nbsp;Remember me</span>
        </div>
      </form>
      <div class="form-group">
        <a
          href="/auth/facebook"
          type="button"
          class="btn btn-facebook"
        >
          <i class="fa fa-facebook"></i>
          <span>Login with Facebook</span>
        </a>
      </div>
      <div>
        <h4 class="text">
          Don't have an account? <a href="/signup" class="orange-color">Sign Up</a>
        </h4>
        <h4 class="text"><a href="/forgot" class="orange-color">Forgot Your Password</a></h4>
      </div>
    </div>
    <div class="col-md-4 errors">
      <% if(hasErrors) {%> 
        <% for(var i = 0; i < messages.length; i++) {%>
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
              &times;
            </a>
            <%= messages[i] %>
          </div>
        <% } %> 
      <% } %>
    </div>
  </div>
</div>
