<% layout('layout2') %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>

    <div class="container">
      <div class="text-center">
        <p class="mainTitle">Register Company</p>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <form id="companyForm" action="/company/create" enctype="multipart/form-data" method="POST">
            <div class="form-group">
              <input
                id="name"
                class="form-control"
                name="name"
                type="text"
                placeholder="Company Name"
              />
            </div>
  
            <div class="form-group">
              <input
                id="address"
                class="form-control"
                name="address"
                type="text"
                placeholder="Address"
              />
            </div>
  
            <div class="form-group">
              <input
                id="city"
                class="form-control"
                name="city"
                type="text"
                placeholder="City"
              />
            </div>
  
            <div class="form-group">
              <input
                id="country"
                class="form-control"
                name="country"
                type="text"
                placeholder="Country"
              />
            </div>
  
            <div class="form-group">
              <input
                id="sector"
                class="form-control"
                name="sector"
                type="text"
                placeholder="Sector"
              />
            </div>
  
            <div class="form-group">
              <input
                id="website"
                class="form-control"
                name="website"
                type="text"
                placeholder="Website"
              />
            </div>
  
            <div class="form-group">
              <button
                class="btn btn-block btnFile"
                type="button"
                data-toggle="modal"
                data-target="#file"
              >
                Logo
              </button>
              <span id="completed"></span>
  
              <div id="file" class="modal modalFile" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Company Logo</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
  
                    <div class="modal-body">
                      <div class="">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar">0%</div>
                        </div>
  
                        <button class="btn btn-block btn-secondary mt-3 upload-btn" type="button">
                          Upload
                        </button>
                        <input
                          type="file"
                          class="form-control upload-input"
                          name="image"
                          id="image"
                          style="display: none"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <input
                id="register"
                value="Register"
                class="form-control btn btn-secondary"
                name="register"
                type="submit"
              />
            </div>
          </form>
        </div>
        <div class="col-md-3 errors">
          <% if(noErrors) {%>
            <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">
                &times;
              </a>
              <%= success %>
            </div>
          <% } %>
          <div id="errorsMessage"></div>
        </div>
      </div>
    </div>
  </div>
</div>