<% layout('layout2') %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container">

      <h4 class="mainTitle text-center">Company Employees</h4>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="33.33%">Fullname</th>
                <th width="33.33%">Position</th>
                <th width="33.33%">Action</thwidth="33.33%">
              </tr>
            </thead>
  
            <tbody>
              <% if(data.employees.length > 0) {%> <%
                data.employees.forEach(function(val){ %>
                <tr>
                  <td><%= val.employeeFullname %></td>
                  <td><%= val.employeeRole %></td>
                  <td>
                    <a 
                      href="/message/<%= val.employeeId %>"
                      class="btn btn-block btn-secondary"
                    >
                      Send Message
                    </a>
                  </td>
                </tr>
              <% }) %> <% } else {%>
                <tr>
                  <td><p>No registered employee yet</p></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
