<% layout('layout2') %>
<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container employees-page pt-50">
      <h4 class="mainTitle text-center mb-4">Company employees</h4>
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <% if(data.employees.length > 0) { %>
              <table class="table">
                <thead>
                  <tr class="text colorGray">
                    <th width="33.33%">Fullname</th>
                    <th width="33.33%">Position</th>
                    <th width="33.33%">Action</th>
                  </tr>
                </thead>
      
                <tbody>
                  <% data.employees.forEach(function(val) { %>
                    <tr>
                      <td><%= val.employeeFullname %></td>
                      <td><%= val.employeeRole %></td>
                      <td>
                        <a 
                          href="/message/<%= val.employeeId %>"
                          class="btn btn-block btn-secondary size-14 min-100"
                        >
                          Send Message
                        </a>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
            <% } else { %>
              <div class="text colorGray text-center mt-4">Not employee registered yet</div>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
