<% layout('layout2') %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container">

      <h4 class="mainTitle text-center">Register Employee</h4>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="form-group">
            <span for="">Employee's name:</span>
            <span class="subText ml-1 text-capitalize colorMain"><%= user.fullname %></span>
          </div>
          <div class="form-group">
            <span for="">Employee's email:</span>
            <span class="subText ml-1 colorMain"><%= user.email %></span>
          </div>
          <div class="form-group">
            <span for="">Company that employee will register:</span>
            <span class="subText ml-1 text-capitalize colorMain"><%= data.name %></span>
          </div>
  
          <form action="" method="post">
            <div class="form-group">
              <input
                id="role"
                class="form-control"
                name="role"
                type="text"
                placeholder="Employee's role"
              />
            </div>
  
            <div class="form-group">
              <input
                type="submit"
                id="role"
                value="Register"
                class="form-control btn btn-secondary"
                name="employeeRole"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
