<% layout('layout2') %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h4 class="mainTitle">Find a Company</h4>
          <form action="" method="post">
            <div class="form-group">
              <input
                id=""
                class="form-control"
                name="search"
                type="text"
                placeholder="Type company name"
                style="margin-bottom: 20px"
              />
            </div>
  
            <div class="form-group">
              <input
                type="submit"
                id="search"
                value="Search"
                class="form-control btn btn-primary"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
